bin/
obj/
out/
*.user
*.suo
*.userosscache
*.sln.docstates

secrets.json

.env
*.env

.idea/
.vscode/

.DS_Store

**/pgdata/
docker-compose.override.yml

*.log
logs/

**/_MigrationsHistory/

node_modules/
package-lock.json
yarn.lock

**/*ModelSnapshot.cs

Properties/launchSettings.json
appsettings.Development.json